# Environment Config

# Store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# reference these in your code with process.env.SECRET

# Copy this file into .env before filling it in and running the bot

clientId=
clientSecret=
studio_token=
PORT=

# Note: .env is a shell file so there can’t be spaces around =
